# pip3 install 'google-cloud-bigquery[bqstorage,pandas]' polars pyarrow
google-cloud-bigquery[bqstorage,pandas]
polars 
pyarrow

# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cpu
torch 
torchvision 

# pip3 install transformers
transformers

# pip3 install umap-learn hdbscan sentence-transformers matplotlib pandas scikit-learn
umap-learn
hdbscan
sentence-transformers
matplotlib
pandas
scikit-learn

# pip3 install seaborn
seaborn